// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//fontawesome
@import "~font-awesome/scss/font-awesome.scss";

//app
@import 'partials/_nav';

//index
@import 'partials/_index';

//create
@import 'partials/_create';

//edit
@import 'partials/_edit';

//show
@import 'partials/_show';

//profile
@import 'partials/_profile';

//home
@import 'partials/_home';

//sponsorize
@import 'partials/_sponsorize';

//_apartmentMessages
@import 'partials/_apartmentMessages';

main{
    background-color: #dbd4d4;
    height: 100%;
    min-height: 1000px;
}
