// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//fontawesome
@import "~font-awesome/scss/font-awesome.scss";

//app
@import 'partials/_nav';

//index
@import 'partials/_index';

//create
@import 'partials/_create';

//edit
@import 'partials/_edit';

//show
@import 'partials/_show';

//profile
@import 'partials/_profile';

//home
@import 'partials/_home';

//sponsorize
@import 'partials/_sponsorize';

//_apartmentMessages
@import 'partials/_apartmentMessages';

//_messages
@import 'partials/_messages';

//_404
@import 'partials/_404';

main{
    background-color: #dbd4d4;
    min-height: calc(100vh - 60px);
}

.ms_imgContainer{
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgb(193, 190, 190);
    padding: 10px;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;

    }
}
.ms_cancelBtn{
    margin-left: 0;
    margin-right: 0;
    width: 200px;
    transition:linear 1s;
    border: none;
    border-radius: 10px;
    height: 50px!important;
    &:hover{
        background-color: rgb(79, 77, 77);
    }
}

.ms_saveBtn{
    background-color: #FF385C;
    color: white;
    transition:linear 1s;
    border: none;
    min-height: 50px;
    border-radius: 10px;
    padding: 0 10px;
    &:hover{
        background-color: hwb(349 17% 45%);
    }

}

.ms_imgCardContainer{
    background-color: #f6f2f2;
    border-radius: 20px;
}

.ms_saveBtnD{
    background-color: #FF385C;
    color: white;
    transition:linear 1s;
    border: none;
    &:hover{
        background-color: hwb(349 17% 45%);
    }

}

