.name{
    font-weight: 700;
    font-size: 30px;
    color: #39adb5;
}
a{
    color: black;
    display: flex;
    align-items: center;
    
    span{
        line-height: 40px;
    }
    
}

.linkContainer{
    margin: 20px 0;
    height: 40px;
    .iconHome{  
        color: white;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#39858a;
        transition:linear 1s;
        border: none;
        padding: 15px;
        border-radius: 50%;
        margin-right: 5px;
        transition:linear 1s; 
        &:hover{
            background-color: #5bcfd7;
        }
        .iconContainer{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    } 
    &:hover .iconHome{
        padding: 17px;
    } 
}
