
    
.addBtn{
    background-color: #1c4144;
    transition:linear 1s;
    border: none;
    &:hover{
        background-color: #39858a;
    }
}

a{
    color: black;
    text-decoration: none;
    .plusBtnMobile{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FF385C;
        transition:linear 1s;
        border: none;
        padding: 15px;
        border-radius: 50%;
        &:hover{
            background-color: #f25b76;
        }
    }
}

.backBtn{
    background-color:#39858a ;
    transition:linear 1s;
    border: none;
    &:hover{
        background-color: #1c4144;
    }
}


.apartmentscontainer{
    margin: 40px 0;
    .card{
        width: 100%;
        height: 964px;
        margin: 10px;
        padding: 20px;
        border-radius: 20px;
        h3{
            height: 100px;
            padding-top: 10px;
        }
        .imgContainer{
            height: 245px;
            border-radius: 5px;
            overflow: hidden;
            img{
                height: 100%;
                transition:linear 1s;   
            }
            &:hover img{
                transform: scale(1.1);
            }
        }
        .textContainer{
            height: 200px;
            margin: 30px 0;
            h6{
                margin: 10px;
            }   
        }
        
        .showbtn,
        .editbtn,
        .messagebtn,
        .cancelbtn{
            width: 200px;
            background-color: #39858a;
            transition:linear 1s;
            border: none;
            &:hover{
            background-color: #1c4144;
    
            }
        }
    }
}

@media only screen and (min-width:780px){
    .apartmentscontainer{
        display: flex;
        flex-wrap: wrap;
        .card{
            width: calc(100% / 2 - 20px);
        }
    }
}

@media only screen and (min-width:1200px){
    .apartmentscontainer{
        .card{
            width: calc(100% / 3 - 20px);
        }
    }
}

