
.container-profile{
    justify-content: center;
    flex-direction: column;
    margin: 100px 0;

    .profilePic{
        background-color: #39858a;
        color: white;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 5px;
    }

    .profile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 50px 0;
    
        .profileBox{
            width: 250px;
            height: 100px;
            justify-content: center;
            align-items: center;
            display: flex;
            border-radius: 10px;
            border: solid 1px rgb(162, 160, 160);
            background-color: rgb(212, 207, 207);
            margin: 10px 10px;
            a{
                color: black;
                text-decoration: none;
                transition:linear 1s;
                .iconColor{
                    color:#FF385C;
                    margin-right: 10px;
                }
            }
            &:hover a{
                font-size: 17px;
            }
        }
    }
    @media only screen and (min-width:1200px){
        .profile{
            display: flex;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap;
            margin: 50px 0;
        }

    }
    button{
        background-color: #39858a;
        transition:linear 1s;
        border: none;
        height: 50px;
        width: 160px;
        border-radius: 10px;
        padding: 0 10px;
        margin-left: 10px;
        &:hover{
            background-color: #1c4144;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
}
