.sponsorBtn{
    background-color: #FF385C;
    transition:linear 1s;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 2vw;
    &:hover{
        background-color: #885500;
        /*background-color: hwb(349 17% 45%);*/
    }
}

.backBtn{
    background-color:#39858a ;
    transition:linear 1s;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    &:hover{
        background-color: #1c4144;
    }
}

.backBtn2{
    background-color:#39858a ;
    transition:linear 1s;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 3vh 0 0 10vw;
    &:hover{
        background-color: #1c4144;
    }
}

h2, h3 {
    text-align: center;
}

.container-title-sponsor{

    h3{
        margin-top: 30px;
    }

}

.container-sponsor{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.typeSponsor{
    display: flex;
    flex-direction: column;
    justify-content: center;

    span{
        font-size: 20px;
    }
}

.pacchettiSponsor {
    // display: flex;
    // justify-content:center;
    // align-items:center;
    background-color: #FF385C;
    color: white;
    text-align: center;
    width: 31%;
    height: 150px;
    margin: 0 10px;
    border-radius: 10px;
    position: relative;

    .labl {
        width: 100%;
        height: 100%;
    }
    .labl > input{ /* HIDE RADIO */
        visibility: hidden; /* Makes input not-clickable */
        
    }
    .labl > input + div{ /* DIV STYLES */
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 10px;
        position: absolute; /* Remove input from document flow */
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
        background-color: #93142b;
    }
}

.sponsorAttivo {
    color: #885500;
}

.sponsorDettagli {
    color: black;
}

.tirchioMegalomane {
    width: 80vw;
    height: 110vh;
}

.title-image{
    width: 800px;
    height: 500px;
    margin: 0 auto;

    img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}