button{
    background-color: #ffcc00;
    transition:linear 1s;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    &:hover{
        background-color: hwb(349 17% 45%);
    }

}

.sponsorAttivo {
    color: #885500;
}

.sponsorDettagli {
    color: black;
}

.tirchioMegalomane {
    width: 80vw;
    height: 80vh;
}